<%#= number_to_human_size @record_index_size %>
<div class="panel panel-default">
  <div class="panel-heading">Records 1</div>
  <div class="panel-body">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Records 2</div>
  <div class="panel-body">
  </div>
</div>
