<% [@records1, @records2, @records3].each do |records| -%>
  <div class="panel panel-default">
    <div class="panel-heading">Records</div>
    <div class="panel-body">
      <% records.each do |record| -%>
        <div><%= record.inspect %></div>
      <% end -%>
    </div>
  </div>
<% end -%>
